<div id="recentcomments" class="dsq-widget">
    <p class="asidetitle">Recent Comments</p>
        <script type="text/javascript" src="http://www-gdc-sigma-com.disqus.com/recent_comments_widget.js?num_items=10&hide_avatars=1&avatar_size=32&excerpt_length=100&hide_mods=0"></script>
</div>
